body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, #f8f8f8, #eeeeee);
}

.calculator {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(4, 4.5rem); 
    grid-auto-rows: 4.8rem;
    background: linear-gradient(145deg, #f3f3f3, #eeeeee);
    padding: 1.2rem;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(34, 34, 34, 0.6);
}

#display {
    font-family: 'Roboto', Helvetica, sans-serif;
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1f1f1;
    color: #5c5c5c;
    font-size: 2.2rem;
    text-align: right;
    border-radius: 6px;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
}

#result {
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

#recent-history {
    font-size: 1.3rem;
    color: #929292;
}

.button {
    font-family: 'Roboto';
    border-radius: 6px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585858;
    background-color: #f5f5f5;
    box-shadow: 0 0 4px rgba(34, 34, 34, 0.4);
    transition: background-color 0.2s ease, outline 0.2s ease;
}

.button:hover {
    background-color: #e2e2e2;
    transition: background-color 0.3s ease, box-shadow 0.3s ease
}

.button:active {
    transform: scale(0.99);
    transition: transform 0.2s ease;
    outline: 1px solid #686868;
}

.operator {
    background-color: #c5e2f7;
    color: #3f3f3f;
    font-weight: 500;
}

.operator:hover {
    background-color: #9cd1f7;
}

.additional {
    background-color: #cafcce;
    color: #4a4a4a;
    font-weight: 500;
}

.additional:hover {
    background-color: #9cf79c;
}

.button:nth-child(21) {
    background: #eaec72;
    color: #5c5c5c;
    font-size: 1.8rem;
}

.button:nth-child(21):hover {
    background: #f2f54a;
}

/* Styling of the change theme button  */
#theme-switch {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.1);
    color: #424242;
    font-size: 2.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#theme-switch:hover {
    background-color: rgba(51, 51, 51, 0.2);
    box-shadow: 0 4px 12px rgba(51, 51, 51, 0.3);
    transform: scale(1.1);
    color: #131313;
}

#theme-switch:active {
    transform: scale(0.9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/* Dark theme */
body.dark-theme {
    background: linear-gradient(120deg, #313131, #3b3b3b);
}

body.dark-theme .calculator {
    background: linear-gradient(145deg, #1f1f1f, #2c2c2c);
    box-shadow: 0 3px 8px rgba(119, 119, 119, 0.6);
}

body.dark-theme #display {
    background-color: #303030;
    color: #e2e2e2;
    box-shadow: 0 0 3px rgba(182, 182, 182, 0.45);
}

body.dark-theme #result {
    color: #e2e2e2;
}

body.dark-theme .button {
    background-color: #424242;
    color: #e2e2e2;
    box-shadow: 0 0 3px rgba(221, 221, 221, 0.45);
}

body.dark-theme .button:hover {
    background-color: #747474;
}

body.dark-theme .button:active {
    transform: scale(0.99);
    outline: 1px solid #dfdfdf;
}

body.dark-theme .operator {
    background-color: #4caf50; 
    color: #fff;
}

body.dark-theme .operator:hover {
    background-color: #388e3c;
}

body.dark-theme .additional {
    background-color: #1976d2;
    color: #fff;
}

body.dark-theme .additional:hover {
    background-color: #1565c0;
}

body.dark-theme #theme-switch {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

body.dark-theme .button:nth-child(21) {
    background: #9c9703;
    color: #dadada;
    font-size: 1.8rem;
}

body.dark-theme .button:nth-child(21):hover {
    background: #8f8d3f;
}

body.dark-theme #theme-switch:hover {
    background-color: rgba(245, 245, 245, 0.2);
    color: #c5ba5a;
}

body.dark-theme #theme-switch:active {
    transform: scale(0.9);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}