body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fefefe;
    color: #4a4a4a;
}

.calculator {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: 3rem repeat(6, 4.8rem);
    background-color: #f1f1f1;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#display {
    font-family: 'Roboto', Helvetica, sans-serif;
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between history and result */
    background-color: #f8f8f8;
    font-size: 2.5rem;
    text-align: right;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem;
}

#recent-history {
    font-size: 1.5rem;
}

.button,
.operator {
    font-family: 'Roboto';
    border-radius: 8px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #585858;
    background-color: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.operator {
    background-color: #d4e6f1;
    font-weight: 500;
    color: #305f7e;
}

.button:hover {
    background-color: #e9ecef;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.button:active {
    transform: scale(0.95);
    transition: transform 0.2s ease;
}

.button:nth-child(21) {
    background: #c7e0f1;
    font-size: 1.8rem;
    color: #4a4a4a;
}